<div id="progress-bar">
  <h2 class="off-screen">Booking progress indicator</h2>
  <ol id="progress-steps">
    <li class="progress-step" style="width: 16.67%;">
      <span class="count highlight-index"></span>
      <span class="current-donation-step off-screen">current donation step:</span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
    <li class="progress-step" style="width: 16.67%;">
      <span class="count"></span>
    </li>
  </ol>
</div>
<body>
<div class="field">
  <div>
      <div class="dec button">-</div>
      <%= f.number_field :number_of_visitors, id:"number-of-visitors", value:"2"%>
      <%= f.label :people_dining %>
      <div class="inc button">+</div>
  </div>
  <div>
      <div class="dec button">-</div>
      <%= f.label :at %>
      <%= f.time_field :time, id:"time", class: 'bkgdevil-timepicker', value:"20:00:00"%>
        <script>
           $('.bkgdevil-timepicker').pickatime({
             min: [17,0],
             max: [22,0]
           })
        </script>


      <div class="inc button">+</div>
  </div>
  <div>
      <div class="dec button">-</div>
      <%= f.label :Date %>
      <%= f.date_field :date, class: 'bkgdevil-datepicker', value: "23 September, 2015"%>
      <div class="inc button">+</div>

  </div>
</div>
