<h1> Progress: 100% </h1>

<img url("bbq.jpg"); alt="barbecueing">

<h1>Confirm Details and see you then!</h1>

<p id="notice"><%= notice %></p>

<body>

  <strong>Name:</strong>
  <%= @booking.each do
  <%= @booking.name %>

  <strong>Phone Number:</strong>
  <%= @booking.phone_number %>

  <strong>Number of Guests:</strong>
  <%= @booking.number_of_visitors %>

  <strong>Date:</strong>
  <%= @booking.time %>
</body>

<h2>Please remember to put this in your diary. </h2>
<h2>You may cancel at least 2 days prior by calling 04 000 or resubmitting this form.</h2>
