<header> Booking Screen One</header>
<a href=http://www.hillsidekitchen.co.nz>"Home"</a>

<h1>Hillside Kitchen & Cellar</h1>

<h2>Let's book you in</h2>

<p class="Step 1">Great! How many people would you like to reserve a table for?</p>
<body class="Booking details step One">
  <% form_for @booking, :url => { :action => 'create', :controller => 'bookings' }, :method => :post do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div>
    <%= f.label :number_of_visitors %>
    <%= f.text_field :number_of_visitors %>
  </div>
  <div>
    <%= f.label :time %>
    <%= f.datetime_field :time, class: 'datetimepicker' %>
  </div>
</body>
  <%= f.submit %>
  <% end %>
