<% if @booking.errors.any? %>
  <% @booking.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% else %>
  <%= form_for build_booking(@booking) do |f| %>
    <%= f.hidden_field :current_step, value: @booking.current_step %>
    <%= render "bookings/steps/page#{@booking.current_step + 1}", f: f %>
    <div class="ghost-btn">
      <%= f.submit "<", name: "<" unless @booking.first_step? %>
      <%= f.submit @booking.last_step? ? nil: ">" %>
    </div>
    <br></br>
  <% end %>
<% end %>
