  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for build_booking(@booking) do |f| %>
  <%= f.hidden_field :current_step, value: @booking.current_step %>
  <%= render "bookings/steps/page#{@booking.current_step + 1}", f: f %>

<div class="field">
  <%= f.submit "Back", name: "back_button" unless @booking.first_step? %>
  <%= f.submit @booking.last_step? ? nil: "Next" %>
</div>
<% end %>
