


<h2>Hi! Here are the bookings</h2>

<a href=/one/one>Click Here To Book Now</a>

<% @booking.each do |booking| %>
<
<p>
  <div>
    <%= booking.name || 'No Name Provided' %>
  </div>
  <div>
  <%= booking.phone_number || 'No phone number provided' %>
  </div>
  <div>
  <%= booking.number_of_visitors || 'No booking time provided' %>
  </div>
  <div>
  <%= booking.email || 'No email address provided' %>
  </div>
  <div>
  <%= booking.time || 'Not created' %>
  </div>
  <div>
  <% booking.tables.each do |table| %>
  <%= "table: #{table.id}" %>
  <% end %>
  </div>

</p>
<% end %>


<!-- <h2>And here are their phone numbers:</h2> -->
