<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<title>Hillside Kitchen & Cellar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="application.css">
	<li><a href="#">Visit</a></li>
	<li><a href="#">Team</a></li>
	<li><a href="#">Menus</a></li>
	<li><a href="/pages/book">Book Now</a></li>
	<li><a href="/">Bookings</a></li>
</ul>
</html>
<body class="landing-page">
<h2>Hello Hillside! Here are all your bookings:</h2>

<% @bookings.each do |booking| %>

<p>
  <div>
    <%= booking.name || 'No Name Provided' %>
  </div>
  <div>
  <%= booking.phone_number || 'No phone number provided' %>
  </div>
  <div>
  <%= booking.number_of_visitors || 'No booking time provided' %>
  </div>
  <div>
  <%= booking.email || 'No email address provided' %>
  </div>
  <div>
  <%= booking.time || 'Not created' %>
  </div>
  <div>
  <% booking.tables.each do |table| %>
  <%= "table: #{table.id}" %>
  <% end %>
  </div>

</p>
<% end %>

<!-- <h2>And here are their phone numbers:</h2> -->
</body>
