<h1> this is the old show bookings page before active admin was installed. delete all routes to this page.</h1>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @booking.phone_number %>
</p>

<p>
  <strong>Number of Guests:</strong>
  <%= @booking.number_of_visitors %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %> -->
