<div class="navbar">
	<ul>
		<li><a href="#">Visit</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Menus</a></li>
		<li><a href="/book">Book Now</a></li>
		<li><a href="/">Bookings</a></li>
	</ul>
</div>

<header> Booking Screen 2</header>
<a href=http://www.hillsidekitchen.co.nz>"Home"</a>

<h1>Hillside Kitchen & Cellar</h1>

<h1>Let's book you in</h1>

<p class="title2">Great! How many people would you like to reserve a table for?</p>

<% end %>

<div class="table-map">
  <h1> Now pick a table:</h1>
</div>

<body class="Booking details step two">
<%= form_for @booking, :url => {:action => 'create', :controller => 'bookings'}, :method => :post do |f| %>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

</body>
  <%= f.submit %>

<% end %>
