<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Available at</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @booking.each do |booking| %>
    <tr>
      <td><%= booking.name %></td>
      <td><%= booking.description %></td>
      <td><%= booking.price %></td>
      <td><%= booking.quantity %></td>
      <td><%= booking.available_at %></td>
      <td><%= booking.tags %></td>
      <td><%= link_to 'Show', booking %></td>
      <td><%= link_to 'Edit (with steps)', edit_booking_path(booking) %></td>
      <td><%= link_to 'Edit (all fields)', edit_booking_path(booking, all: 1) %></td>
      <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Booking (with steps)', new_booking_path %>
<br>
<%= link_to 'New Booking (all fields)', new_booking_path(all: 1) %>
