<strong>Booking Screen 2</strong>
<h1>Hillside Kitchen & Cellar</h1>
<p>Book a table at Hillside tonight</p>

<h2>Information About Hillside</h2>

<p>Great! How many people would you like to reserve a table for?</p>

<%= form_for @booking, :url => {:action => 'create', :controller => 'bookings'}, :method => :post do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :number_of_visitors %>
    <%= f.text_field :number_of_visitors %>
  </div>
  <div>
    <%= f.label :time %>
    <%= f.datetime_field :time, class: 'datetimepicker' %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>


  <%= f.submit %>

<% end %>
