<strong>Booking Screen 2</strong>
<h1>Hillside Kitchen & Cellar</h1>
<p>Book a table at Hillside tonight</p>

<h2>Information About Hillside</h2>

<p>Great! How many people would you like to reserve a table for?</p>

<%= form_for :booking do |f| %>

  <p>
    <%= f.text :number_of_visitors %><br>
    <%= f.text :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


  <!-- <%= form_for @booking do |f| %>
  Number of Visitors: <%= f.integer_field :number_of_visitors %><br />
  Name: <%= f.text_field :booker %><br />
  Cell Phone: <%= f.text_field :phone_number %><br />
  <%= f.submit %>
  <% end %> -->
