<div class="field">
<%= form_for @booking, :url => {:action => 'create', :controller => 'bookings'}, :method => :post do |f| %>
  <div>
    <%= f.label :number_of_visitors %>
    <%= f.text_field :number_of_visitors %>
  </div>

  <h1> What date would you like to eat?</h1>
  <div>
    <%= f.label :time %>
    <%= f.datetime_field :time, class: 'datetimepicker' %>
  </div>
</div>
  <%= f.submit %>
<% end %>

<!-- new code -->
<h1>Super! Register your details so we can contact you if required.</h1>
<div class="field">
  <%= f.label :name %><br />
  <%= f.datetime_select :name %>
</div>

<div class="field">
  <%= f.label :dietary_preferences %><br />
  <%= f.text_area :dietary_preferences %>
</div>

<h2>We won't spam you!</h2>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_area :phone_number %>
</div>
