<!DOCTYPE html>
<html class="opaque1">

<header role="banner">
  <div class="content">
    <nav class="container">
      <ul>
        <li><a href="#">hillside</a></li>
        <li><a href="#">events</a></li>
        <li><a href="#">call us up</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div id="header-handle" class="handle">
      <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>
<head>
  <title>Hillside Kitchen & Cellar Wellington: Restaurant Booking Web App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--
  <link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/application.css" media="print" rel="stylesheet" type="text/css" />
  <link href="../app/assets/stylesheets/application.scss" rel="stylesheet" type="text/css"> -->
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <meta name="Hillside Kitchen & Cellar" content="Fine Dining in Thorndon Wellington, New Zealand">
  <meta name="keywords" content="restaurant,dinner,lunch,fine dining,bistronomy">
</head>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= image_tag("logo.png", size: "240x240", alt: "Hillside Logo") %>
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
